.row-header {
    margin: 0px auto;
    padding: 0px;
}
.row-content {
    margin: 0px auto;
    border-bottom: 1px ridge;
    padding: 20px 0px;
}
.jumbotron {
    background: darkcyan;
    margin: 0px auto;
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
}

.footer {
    background-color: rgb(172, 232, 217);
    margin: 0px auto;
    padding: 20px 0px;
}

address {
    font-size: 80%;
    margin: 0px;
    color: crimson;
}

body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
}