.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  border-bottom: 1px ridge;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  background: darkcyan;
  margin: 0px auto;
  font-family: Arial, Helvetica, sans-serif;
  color: azure; }

.footer {
  background-color: #ace8d9;
  margin: 0px auto;
  padding: 20px 0px; }

address {
  font-size: 80%;
  margin: 0px;
  color: crimson; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.tab-content {
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  background-color: darkcyan; }
  .carousel .carousel-item {
    height: 200px; }
    .carousel .carousel-item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 200px; }

#carouselButton {
  right: 0;
  bottom: 0;
  position: absolute; }

.modal-header {
  background-color: darkcyan;
  color: floralwhite; }
  .modal-header .close {
    color: floralwhite; }

.modal-body {
  background-color: #ace8d9; }
